/*
Background: #FFFFFF / #1C1C1C



*/


/* @font-face {
    font-family: "game";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button:focus {
    outline: 0;
}

html,
body {
    height: 100vh;
    /* color: rgba(255, 255, 255, 0.5); */
    color: white;
}

body {
    background: rgba(18, 18, 18, 0.96);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    /* margin: -20px 0 50px; */
    color: #eee;
    /* color: rgba(255, 255, 255, 0.5); */
}

canvas {
    background-color: rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(270deg, #390099, #9e0059, #ff0054, #ff5400, #ffbd00);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; */
}

.container {
    color: rgba(18, 18, 18, 0.5);
    /* Color Text on site */
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h2 {
    font-weight: 200;
    transform: rotate(270deg);
}

#score {
    margin-top: 0px;
    font-size: 10vh;
    text-align: center;
    text-transform: full-width;
    letter-spacing: -4vh;
    margin-right: 4vh;
    font-weight: 300;
}

.noselect {
    user-select: none;
}

#replay {
    font-size: 10px;
    display: none;
    padding: 10px 20px;
    background: rgba(18, 18, 18, 0.49);
    border: none;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    font-weight: 800;
    cursor: pointer;
    position: absolute;
    bottom: calc(50vh - 200px - 30px);
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

#replay:hover {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(18, 18, 18, 0.9);
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

#replay svg {
    margin-right: 8px;
}

@media (max-device-width: 600px) {
    #settings-bt {
        flex-direction: column;
    }
    #replay {
        margin-bottom: 20px;
    }
    #replay,
    h2 {
        transform: rotate(0deg);
    }
    .container {
        flex-flow: column wrap;
    }
}

.profile-container {
    background: #000;
    position: absolute;
    width: 15vw;
    height: 7vh;
    top: 0;
    right: 0;
    /* margin: 10px; */
    text-align: left;
    line-height: 7vh;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.profile-container>p {
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    vertical-align: middle;
}

.black-container {
    width: calc(35vw - 200px);
    height: 40vh;
    position: absolute;
    top: 30vh;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#r-container {
    right: 10vh;
    /* top: 35vh; */
    transform: rotate(-5deg);
    background: linear-gradient(270deg, #390099, #9e0059, #ff0054, #ff5400, #ffbd00);
    background-size: 1000% 1000%;
    -webkit-animation: wiggleR 30s ease infinite;
    -moz-animation: wiggleR 30s ease infinite;
    animation: wiggleR 30s ease infinite;
}

#l-container {
    left: 10vh;
    background: #000;
    transform: rotate(2deg);
}

#l-container h1 {}

#bottom-bt {
    /* width: calc(100vw - 20px);
    left: 10px;
    margin-bottom: 10px; */
    bottom: 0px;
    width: 100vw;
    margin: 0;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-transform: none;
    background: #000;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    /* background: linear-gradient(270deg, #390099, #9e0059, #ff0054, #ff5400, #ffbd00);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; */
}

#bottom-bt h1 {
    color: white;
    font-size: 25px;
    margin: 10px;
    font-weight: 300;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.css-selector {
    background: linear-gradient(270deg, #390099, #9e0059, #ff0054, #ff5400, #ffbd00);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes wiggleR {
    0% {
        transform: rotate(-5deg);
        background-position: 0% 50%;
    }
    10% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(-10deg);
        background-position: 100% 50%;
    }
    60% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    90% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(-5deg);
        background-position: 0% 50%;
    }
}